# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# project specific ignore files/folders:
*.png
notebooks/config.py
notebooks/to_ignore/
data/cleaned
data/cleaned_merged_agg
data/merged
data/cleaned_merged
data/raw
data/ignore
notebooks/03.2-clinical_variables_rerun_.ipynb
notebooks/07.5-sofaless_modeling.ipynb
figures.zip
notebooks/copy_to_preserve_12-12-19
notebooks/Exploratory

tables_figures/tables/11112019_24-72_modelsummary.xlsx
tables_figures.zip
notebooks/Exploratory/08-timewindow_model_evalutation2.ipynb
models/16122019_24_hr_window_morecases/finalized_xgboost.sav
models/16122019_24_hr_window_morecases/finalized_ensemble.sav
models/16122019_24_hr_window_morecases/finalized_knn.sav
models/16122019_24_hr_window_morecases/finalized_logreg.sav
models/16122019_24_hr_window_morecases/finalized_rf.sav
models/16122019_24_hr_window_morecases/finalized_mlp.sav
models/16122019_24_hr_window_morecases/finalized_svc.sav
tables/16122019_24_hr_window_morecases/16122019_cv_summary_df.csv
tables/16122019_24_hr_window_morecases/16122019_test_summary_df.csv
notebooks/06-feature_aggregation-Copy1.ipynb
notebooks/07-modeling-Copy1.ipynb
